# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment variables & secrets
.env
.env.*
env.txt
password.txt
*.kdbx
autodesk_backup_code.txt

# IDE & Tools
.vscode/
.idea/
*.swp
*.swo
*~
.gh_bin/
.stfolder/

# OS
.DS_Store
Thumbs.db
ntuser.ini
*.tmp
*.temp

# Data & Large binaries
*.xlsx
*.fgb
*.exe
*.rtd
node_modules/
media/
worker/screenshots/