<h2>OBJET DE L’ETUDE</h2>
<h3>OBJET DU DOCUMENT</h3>
<p>La note de calcul a pour objet la vérification de la tenue des structures, de leurs fixations et de la stabilité suite à l’accueil des nouveaux équipements.</p>

<h2>REGLEMENTATIONS ET NORMES APPLIQUEES</h2>
<p>L’étude est réalisée selon les règlements suivants :</p>
<ul>
    <li>Eurocode 0 : Base de calcul des structures ;</li>
    <li>Eurocode 1 : EN1991-1-4/NA (France AFNOR P06-114-1/NA mars 2008);</li>
    <li>Eurocode 3 : Calcul des structures en acier ;</li>
    <li>NF EN 795 - Ancrage de classe A1 ;</li>
</ul>

<h2>HYPOTHESES DE CALCUL</h2>
<ul>
    <li>Qualité des aciers utilisés pour les structures métalliques : S235</li>
    <li>Scellement chimique en « Spit » Epcon système, Hilti, ou similaire.</li>
</ul>

