<h2>VERIFICATION DE LA STRUCTURE DES SECTEURS</h2>
<h3>DESCRIPTION</h3>
<p>Vérification d’un nouveau mât en tube Ø {{ mat_4g_diam }} mm, d’épaisseur {{ mat_4g_epaisseur }} mm et de longueur {{ mat_4g_longueur }} mm fixé sur un nouveau plot métallique par une platine et contre platine de dimensions 350 x 350 x 10 mm et 4 boulons M14.</p>
<p>Vérification des mâts d’antennes 5G en tube Ø {{ mat_5g_diam }} mm, d’épaisseur {{ mat_5g_epaisseur }} mm, de longueur {{ mat_5g_longueur }} mm porté par deux déport {{ bras_deport_diam }} mm, d’épaisseur {{ bras_deport_epaisseur }} mm et de longueur {{ bras_deport_longueur }} mm.</p>
<p>Pour accès aux antennes, une échelle type Söll est prévue et points d’ancrage jusqu’à la HSA, selon la norme NF EN 795.</p>

<h3>HYPOTHESES DE VENT</h3>
<p>Région de vent: {{ region_vent }}</p>
<p>Catégorie de terrain: {{ categorie_terrain }} Hauteur: {{ hauteur_m }} m</p>
<p>Vitesse de référence du vent : Vb = {{ vb_m_s }} m/s</p>
<p>Vitesse moyenne du vent à la hauteur z : Vm = {{ var_21 }} m/s</p>
<p>Pression dynamique de pointe à la hauteur z : qp = {{ var_23 }} daN/m²</p>

<h3>CALCUL DE CHUTE</h3>
<p>L’effort engendré en cas de chute d'un homme sur un point d'ancrage répondant à la norme NF EN 795 - Ancrage de classe A1.</p>
<p>La chute de l'homme est prise en compte en tête du mât avec les composantes suivantes : Fh=2.2kN et Fv=9.8Kn.</p>
